body{

font-family: 'Crimson Text', serif;

text-align: center; 

}
form{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2{
font-family: 'Crimson Text', serif;
font-size: 80;
text-align: center;	
}

p{
font-family: 'Crimson Text', serif;
font-size: 20px;
text-align: center; 
}

#hiw{
	background-color: #fcfcfc;
}
h3{
	font-family: 'Crimson Text', serif;
font-size: 100;
text-align: center;	

}
h1{
	color:#255F0B;
  font-size:50px !important;
  font-family: 'Stalemate', cursive;

}

#content{
  margin-top: 100px;
}

/* --------------------------------------
   thumbnail
   -------------------------------------- */

  .thumbnail img{
    width:100%;
    height:100%;
  }
  .thumbnail{
    height: 250px;
  }


/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel {
	
	background-color:#FFF;
	
}
#myCarousel img{
  
  
  margin-left:20%;
  
  
}

.carousel-caption {
	font-size: 24px;
}

.carousel-caption h4 {
	font-size: 32px;
}

#myCarousel .item { 
	height:600px;
	 }

#slide1 {
	background: url('../images/21.jpg') top center no-repeat;
	background-size: cover;
}

#slide2 {
	background: url('../images/20.jpg') top center no-repeat;
	background-size: cover;
}

#slide3 {
	background: url('../images/train.jpg') top center no-repeat;
	background-size: cover;
}

/* --------------------------------------
   Carousel2
   -------------------------------------- */

#myCarousel2 {
  
  background-color:#FFF;
  
}



#myCarousel2 .item { 
  height:600px;
   }

#slide12 {
  background: url('../images/14.jpg') top center no-repeat;
  background-size: cover;
}

#slide22 {
  background: url('../images/15.jpg') top center no-repeat;
  background-size: cover;
}

#slide32 {
  background: url('../images/travel2.jpg') top center no-repeat;
  background-size: cover;
}






/* --------------------------------------
   buttons
   -------------------------------------- */

  .btn-primary{
  	display: inline-block;
  	background-color: #FFF;
  	color: #255F0B;
  	padding: 5px 5px 5px 5px;
  	-webkit-transition :1s;

  }

  .btn-primary:hover{
  	background-color: #FFF;
  	color: #255F0B;
  	transform:scale(1.5);
  }
  .btn-success{
  	
  	padding: 5px 5px 5px 5px;
  	-webkit-transition :1s;

  }
.btn-success:hover{
  	background-color: #FFF;
  	color: #255F0B;
  	transform:scale(1.5);
  }

/* --------------------------------------
   navbar
   -------------------------------------- */



.navbar-inverse{
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95);
  border-color:transparent;
  border-style: solid;
  border-color:#255F0B;


 }

 .navbar-brand{
  padding: 0px;
 }

 .navbar-inverse .navbar-nav > li > a {
color:#255F0B;
font-size: 72;
font-weight: 500px;
font-family: 'Crimson Text', serif;
-webkit-transition:0.5s;

}
.navbar-inverse .navbar-nav > li > a:hover {
background-color:#255F0B;
color:#FFF;
font-size: 72;
font-weight: 500px;
font-family: 'Crimson Text', serif;
-webkit-transform:scale(1.1);

}


.navbar-inverse .navbar-nav > .active>a {
  background-color: #255F0B;
}

.intro-divider{
  max-width: 400px;
}

/* --------------------------------------
   footer
   -------------------------------------- */

.footer-below{
  background-color: #255F0B;
  color: #FFF;
}

/* --------------------------------------
   popular
   -------------------------------------- */

  

   #popular img{
    width:100%;
    height:70%;
   }

   #popular{
    background-color: #fcfcfc;
   }
