body{
	/* background-image: url('../images/white.png'); */
  background-color: #fcfcfc;
  font-family: 'Ubuntu';
}

h1{
 
  color:#5CB85C;
  text-align: center;
  
}

h2{
  color:#5cb85c;
}

#sidemenu{
	margin-top: 100px;
}

#mycontainer{
margin-top: 50px;
}
#myform{
margin-top: 100px;
}
#payment{
	margin-top: 100px;
	margin-left: 30px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color:#5cb85c;
}

/* --------------------------------------
   navbar
   -------------------------------------- */

 .navbar-inverse{
 	background-color:#FFF;
 	border-color:transparent;
 }

 .navbar-inverse .navbar-nav > li > a {
color:#255F0B;
font-size: 72;
font-weight: 500px;

-webkit-transition:0.5s;

}
.navbar-inverse .navbar-nav > li > a:hover {
background-color:#255F0B;
color:#FFF;
font-size: 72;
font-weight: 500px;

-webkit-transform:scale(1.1);

}

.navbar-brand{
	padding: 5px 5px 5px 5px;
}

/* --------------------------------------
   thumbnail
   -------------------------------------- */


   .thumbnail img{
       height:200px;
        width:100%;
    }




  /* --------------------------------------
  buttons
   -------------------------------------- */

   .btn-primary{
   	display:inline-block;
   	background-color: transparent;
    padding: 10px 10px 10px 10px;
    color: #255F0B;
    border-radius: 1px;
    -webkit-transition:0.05s;
     -o-transition:0.05s;
     -moz-transition:0.05s;
   }
   .btn-primary:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    background-color:#255F0B;
    color:#FFF;
   }

  /* --------------------------------------
 footer
   -------------------------------------- */
   footer{
   	margin-top: 50px;
   }

   .footer-below{
	margin-top: 50px;
	background-color: #255F0B;
	color: #FFF;
}

#content{
	margin-top: 80px;
}

/* listing carousel  */

#listing_carousel .item{
  height:500px;
  width:100%;
}

#listing_carousel img{

  height: 100%;
  width: 100%;

}

#rules{
  text-align: center;
}