/* --------------------------------------
   navbar
   -------------------------------------- */

 .navbar-inverse{
 	background-color:#FFF;
 	border-color:transparent;
 }

 .navbar-inverse .navbar-nav > li > a {
color:#255F0B;
font-size: 72;
font-weight: 500px;
font-family: 'Crimson Text', serif;
-webkit-transition:0.5s;

}
.navbar-inverse .navbar-nav > li > a:hover {
background-color:#255F0B;
color:#FFF;
font-size: 72;
font-weight: 500px;
font-family: 'Crimson Text', serif;
-webkit-transform:scale(1.1);

}


.navbar-inverse .navbar-nav > .active>a {
	background-color: #255F0B;
}

/* --------------------------------------
   footer
   -------------------------------------- */

.footer-below{
	background-color: #255F0B;
	color: #FFF;
}